# Solving the clustering Issue

In [4]:
import pandas as pd
import numpy as numpy
import matplotlib as plt
import seaborn as sns

In [5]:
df = pd.read_csv('customer_segmentation.csv')

In [7]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [9]:
print(df.isnull().sum())

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [11]:
print(df.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

## Feature Selection

*Interesting*: Birth, Education, Martial Status, Income, MntWines

*Medicore*: ID, Kidhome, Teenhome, Dt_Customer, Recency, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePruchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, Accepted Cmp5, Accepted Cmp1, Accepted Cmp2

*Drop*: MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, Complain, Z_CostContact, Z_Revenue, Response

In [14]:
drop_col = ['MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']
df.drop(columns=drop_col, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  NumDealsPurchases    2240 non-null   int64
 11  NumWebPurchases      2240 non-null   int64
 12  NumCatalogPurchases  2240 non-null   int64
 13  NumStorePurchases    2240 non-null   int64
 14  NumWebVisitsMonth    2240 non-null   int64
 15  AcceptedCmp3         2240 non-null   int64
 16  AcceptedCmp4         2240 non-null   int64
 17  AcceptedCmp5         2240 non-null   int64
 18  AcceptedCmp1         2240 non-null   int64
 19  AcceptedCmp2         2240 non-null   int64
dtypes: float64(1), int64(16), object(3)
memory usage: 350.1+ KB

In [26]:
from sklearn.cluster import KMeans
# Assuming 'selected_features' is a list of feature columns
X = df

# Specify the number of clusters (k)
kmeans = KMeans(n_clusters=3, random_state=42)

# Fit the model
df['cluster'] = kmeans.fit_predict(X)

ValueError: could not convert string to float: 'Graduation'

In [28]:
print('hello world')

hello world

In [32]:
print("sth")

sth